{% extends "./base.html" %}


{% block title %}Student Detail{% endblock title %}

{% block body %}


<div class="container-fluid p-4">
    <div class="row g-3">

    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top rounded-circle mx-auto d-block" alt="Student Photo" style="width: 100px; height: 100px;">
        <div class="card-body text-center">
            <h5 class="card-title">Student Name</h5>
            <p class="card-text"><strong>Roll No:</strong> Roll Number</p>
            <p class="card-text"><strong>Mobile:</strong> Mobile Number</p>
            <p class="card-text"><strong>Description:</strong> Description</p>
            <p class="card-text"><strong>College:</strong> College name</p>
            <p class="card-text"><strong>Course Branch:</strong> Course: Branch</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    
    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top rounded-circle mx-auto d-block" alt="Student Photo" style="width: 100px; height: 100px;">
        <div class="card-body text-center">
            <h5 class="card-title">Student Name</h5>
            <p class="card-text"><strong>Roll No:</strong> Roll Number</p>
            <p class="card-text"><strong>Mobile:</strong> Mobile Number</p>
            <p class="card-text"><strong>Description:</strong> Description</p>
            <p class="card-text"><strong>College:</strong> College name</p>
            <p class="card-text"><strong>Course Branch:</strong> Course: Branch</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top rounded-circle mx-auto d-block" alt="Student Photo" style="width: 100px; height: 100px;">
        <div class="card-body text-center">
            <h5 class="card-title">Student Name</h5>
            <p class="card-text"><strong>Roll No:</strong> Roll Number</p>
            <p class="card-text"><strong>Mobile:</strong> Mobile Number</p>
            <p class="card-text"><strong>Description:</strong> Description</p>
            <p class="card-text"><strong>College:</strong> College name</p>
            <p class="card-text"><strong>Course Branch:</strong> Course: Branch</p>
            
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>



    </div>

</div>



{% endblock body %}

